chbld_16 BITMAP "..\\res\\16x16.bmp"
chbld_24 BITMAP "..\\res\\24x24.bmp"
cc_dark_at RCDATA "..\\res\\ccicons\\dark_at.png"
cc_dark_attribute RCDATA "..\\res\\ccicons\\dark_attribute.png"
cc_dark_circle RCDATA "..\\res\\ccicons\\dark_circle.png"
cc_dark_class RCDATA "..\\res\\ccicons\\dark_class.png"
cc_dark_cut RCDATA "..\\res\\ccicons\\dark_cut.png"
cc_dark_enum RCDATA "..\\res\\ccicons\\dark_enum.png"
cc_dark_field RCDATA "..\\res\\ccicons\\dark_field.png"
cc_dark_globalident RCDATA "..\\res\\ccicons\\dark_globalident.png"
cc_dark_interface RCDATA "..\\res\\ccicons\\dark_interface.png"
cc_dark_keyword RCDATA "..\\res\\ccicons\\dark_keyword.png"
cc_dark_method RCDATA "..\\res\\ccicons\\dark_method.png"
cc_dark_namespace RCDATA "..\\res\\ccicons\\dark_namespace.png"
cc_dark_tag RCDATA "..\\res\\ccicons\\dark_tag.png"
cc_dark_unit RCDATA "..\\res\\ccicons\\dark_unit.png"
cc_dark_word RCDATA "..\\res\\ccicons\\dark_word.png"
cc_lite_at RCDATA "..\\res\\ccicons\\lite_at.png"
cc_lite_attribute RCDATA "..\\res\\ccicons\\lite_attribute.png"
cc_lite_circle RCDATA "..\\res\\ccicons\\lite_circle.png"
cc_lite_class RCDATA "..\\res\\ccicons\\lite_class.png"
cc_lite_cut RCDATA "..\\res\\ccicons\\lite_cut.png"
cc_lite_enum RCDATA "..\\res\\ccicons\\lite_enum.png"
cc_lite_field RCDATA "..\\res\\ccicons\\lite_field.png"
cc_lite_globalident RCDATA "..\\res\\ccicons\\lite_globalident.png"
cc_lite_interface RCDATA "..\\res\\ccicons\\lite_interface.png"
cc_lite_keyword RCDATA "..\\res\\ccicons\\lite_keyword.png"
cc_lite_method RCDATA "..\\res\\ccicons\\lite_method.png"
cc_lite_namespace RCDATA "..\\res\\ccicons\\lite_namespace.png"
cc_lite_tag RCDATA "..\\res\\ccicons\\lite_tag.png"
cc_lite_unit RCDATA "..\\res\\ccicons\\lite_unit.png"
cc_lite_word RCDATA "..\\res\\ccicons\\lite_word.png"
